{% extends 'base.html.twig' %}

{% block title %}Simplex-Immo: Actualité{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8">
            <h1 class="simplexHomepage col-12 d-flex align-items-end justify-content-center">
                <img src="{{ asset('/img/shared/logoContoure.png') }}" class="logoHeader" alt="logo Simplex-Immo"/>
                <span class="pb-1"><span class="hidden">S</span>implex-Immo</span>
            </h1>
            {% include 'walker/homepage/promotion.html.twig' %}
        </div>
        <div class="col-4">
            {% include 'walker/homepage/news.html.twig' %}
        </div>
    </div>
{% endblock %}
