<section class="card text-white bg-secondary border-warning row py-3 px-4 me-3">
    <div class="row card-body">
        <h3 class="col-12 text-start card-title">Pourquoi n'avez-vous plus besoin d'agence ?</h3>
        <div class="col-4 text-center"><img src="{{ asset('/img/homepage/stop.jpg') }}" alt="stop"
                                            class="img-thumbnail"/></div>
        <p class="col-8 card-text text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
            natus sit magni provident vero, enim, porro veritatis cum similique iure rerum quos velit nobis doloremque
            deleniti, unde ab accusantium eligendi eaque! Repellat deserunt velit aperiam dolores, id accusantium nisi
            atque! Molestiae debitis, voluptas voluptatibus voluptatem soluta vitae repellat autem ratione.</p>
    </div>
    <div class="row py-2 px-2 card-body">
        <h3 class="col-12 text-end card-title">Simplex-Immo comment ça marche ?</h3>
        <p class="col-8 card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda natus sit
            magni provident vero, enim, porro veritatis cum similique iure rerum quos velit nobis doloremque deleniti,
            unde ab accusantium eligendi eaque! Repellat deserunt velit aperiam dolores, id accusantium nisi atque!
            Molestiae debitis, voluptas voluptatibus voluptatem soluta vitae repellat autem ratione.</p>
        <div class="col-4 text-center"><img src="{{ asset('/img/homepage/avantage.jpg') }}" alt="Maison avec clefs"
                                            class="img-thumbnail"/></div>
    </div>
    <div class="row card-body">
        <h3 class="col-12 text-start card-title">Quelles sont les avantages de Simplex-immo ?</h3>
        <div class="col-4 text-center"><img src="{{ asset('/img/homepage/logoContoure.png') }}" alt="logo simplex-immo"
                                            class="img-thumbnail"/></div>
        <p class="col-8 card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda natus sit
            magni provident vero, enim, porro veritatis cum similique iure rerum quos velit nobis doloremque deleniti,
            unde ab accusantium eligendi eaque! Repellat deserunt velit aperiam dolores, id accusantium nisi atque!
            Molestiae debitis, voluptas voluptatibus voluptatem soluta vitae repellat autem ratione.</p>
    </div>
</section>