<section class="card text-white bg-secondary border-warning mb-3 row ms-5">
    <h2 class="card-header text-center">Actualité</h2>
    {% for  post in 1..5 %}
        <a href="" class="newsLink">
            <div class="card-body row">
                <div class="col-2 text-center d-flex align-items-center">
                    <img src="{{ asset('/img/news/post.jpg') }}" alt="{{ "alt de l'image" }}" class="img-thumbnail"/>
                </div>
                <div class="col-10 card-title d-flex align-items-center ps-2">{{ "news title" ~ post }}</div>
            </div>
        </a>
    {% endfor %}
</section>