{% extends 'base.html.twig' %}

{% block title %}Simplex-Immo: Nos tarifs{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col-12 simplexHomepage col-12 d-flex align-items-end justify-content-center py-3">
            Nos tarifs
        </h1>
        <div class="toShort"></div>
    </div>
{% endblock %}
