<footer class="row text-center navbar-dark bg-dark py-2 d-flex align-items-center">
    <div class="col-5 ">
        <a href="">Mentions légales</a></div>
    <div class="col-2">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('img/shared/logo.png') }}" class="logoFooter" alt="logo Simplex-Immo"/>
        </a>
    </div>
    <div class="col-5">
        <a href="">Contactez-nous</a>
    </div>
</footer>